<html>
  <head>
    <style>
      {{> styles }}
    </style>
  </head>
  <body>
    {{!-- <span class="h1">This is a test heading h1</span>
    <span class="h2">This is a test h2</span>
    <span class="front" style="">This is a test h2 front class</span>
    <span class="h3">This is a test h3</span>
    <span class="h4">This is a test h4</span>
    <span class="h5">This is a test h5</span>
    <span class="h6">This is a test h6</span>
    <span class="h7">This is a test h7</span>
    <span class="h8">This is a test h8</span>
    <p>Paragraph testing <span class="url">testing url</span>. This body is an <a>anchor tag</a>.</p>
    <p class="body-front">{{ location.name }} body</p>
    <p>Paragraph testing testing. body body</p>
    <p class="body-smaller">Paragraph testing testing. body</p>
    <p class="body-smallest">Paragraph testing testing. body</p>
    <div class="pagebreak"></div> --}}
    <!-- page 1 -->
    <div id="page_1" class="page pagebreak">
      <div class="front-top"></div>
      <div class="front-bottom">
        <div class="square-logo logo-sm"></div>
        <span class="h1 title">Exploring Educational Opportunity<br>in {{ location.name }}{{#if verbiage.state_abbrev}}, {{verbiage.state_abbrev}}{{/if}}</span>
        <hr class="short-hr"></hr>
        <span class="about body-front">A report created by the Educational Opportunity Project<br>at Stanford University</span>
        <span class="date another-url-class-not-in-style-guide">Generated on {{ today }}</span>
        <span class="infolink another-url-class-not-in-style-guide">FOR MORE INFORMATION, PLEASE VISIT <a class="another-url-class-not-in-style-guide" href="https://www.{{ infourl }}">{{ infourl }}</a></span>
      </div>
    </div>
    <!-- end page 1 -->
    <!-- page 2 -->
    <div id="page_2" class="page pagebreak">
      <div class="header">
        <div class="wrapper">
          <div class="logo"></div>
          <a class="url" href="https://www.{{ infourl }}">{{ infourl }}</a>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="content">
          <span class="h2">About the Data</span>
          <p>The Educational Opportunity Project has derived these data and visualizations from the Stanford Education Data Archive (SEDA), which is the first national database of academic performance in the U.S.</p><p>The SEDA data are based on the standardized accountability tests in math and English Language Arts (ELA) administered annually by each state to all public school students in grades 3-8 in each school year from 2008-09 through 2015-16. In these years, third- through eighth-graders in U.S. public schools took roughly 350 million standardized math and ELA tests.</p><p>The Educational Opportunity Project harnesses these and other data to help scholars, policymakers, educators, and parents learn how to improve educational opportunity for all children.</p>
        </div>
      </div>
    </div>
    <!-- end page 2 -->
    <!-- page 3 -->
    <div id="page_3" class="page pagebreak">
      <div class="header">
        <div class="wrapper">
          <div class="logo"></div>
          <a class="url" href="https://www.{{ infourl }}">{{ infourl }}</a>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="content">
          <span class="h2">Test scores reveal three aspects of educational opportunity in America:</span>
          <!-- average -->
          <div class="box">
            <div class="head">
              <div class="icon average"></div>
              <span class="title h3">AVERAGE TEST SCORES</span>
            </div>
            <div class="base">
              <span class="h4">The educational opportunities available in a community, both in and out of school, are reflected in children's average test scores.</span>
              <p class="body-smallest">Average test scores are influenced by children's opportunities to learn at home, in their neighborhoods, in childcare, preschool, and after-school programs, from peers and friends, and at school. Average test scores therefore reflect the total set of educational opportunities available in a community.</p>
            </div>
          </div>
          <!-- average end -->
          <!-- growth -->
          <div class="box">
            <div class="head">
              <div class="icon growth"></div>
              <div class="title h3">LEARNING RATES</div>
            </div>
            <div class="base">
              <span class="h4">The contribution of schools to educational opportunity is reflected in the growth of test scores while children attend school.</span>
              <p class="body-smallest">Learning rates measure how much student scores improve each year while they are in school. They are a better indicator of school quality than average test scores, which are influenced by a range of experiences outside of school.</p>
            </div>
          </div>
          <!-- growth end -->
          <!-- changes -->
          <div class="box">
            <div class="head">
              <div class="icon changes"></div>
              <div class="title h3">TREND IN TEST SCORES</div>
            </div>
            <div class="base">
              <span class="h4">The change in a community’s educational opportunities, both in and out of school, is reflected in average test score gains or losses.</span>
              <p class="body-smallest">Trends in test scores reflect both changes in school quality and changes in other family and community features that provide opportunities for children.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end page 3 -->
    <!-- Page 4, average test scores -->
    <div id="page_4" class="page pagebreak">
      <div class="chart average">
        <div class="background">
          <div class="dot" style="left:{{css.avg_left}};top:{{css.avg_top}};"></div>
        </div>
      </div>
      <div class="text">
        <div class="parent">
          <div class="head">
            <div class="icon average"></div>
            <div class="header">
              <span class="title h5">AVERAGE TEST SCORES</span>
              <span class="placename h6">{{location.name}}, {{location.state_name}}</span>
            </div>
          </div>
          <p class="body-smaller">{{ location.name }}, {{location.state_name}} provides {{ verbiage.ats_hrl }} average educational opportunities. Average test scores are {{ verbiage.ats_avg_fixed }} grade level(s) {{ verbiage.ats_ab }} the national average.{{#if location.all_ses}} Socioeconomic status is {{ verbiage.ats_vfb }} the national average.{{/if}}{{#if location.all_frl}} {{location.all_frl}}% of students are eligible for the Federal Free & Reduced Price Lunch Program.{{/if}} {{#if location.diff_avg}} Average scores are {{ verbiage.ats_diff_fixed }} grade levels {{ verbiage.ats_diff_hl }} than {{verbiage.type_plural}} with similar socioeconomic status.{{/if}}</p>
          <p class="body-smaller">Average student test scores are influenced by children’s opportunities to learn in their homes, in their neighborhoods, in the childcare, preschool, and after-school programs they attend, from their peers and friends, and in their schools. Because of all these influences, average test scores are not a good way to assess how much children learn in schools. But they are a good way to assess the average set of educational opportunities available to children in a community. Where average scores are low, students have fewer opportunities to learn. Schools are better evaluated using Learning Rates, which measure how much student scores improve while they are in school.</p>
        </div>
      </div>
      <div class="footer">
        <div class="wrapper">
          <div class="logo"></div>
          <a class="url" href="https://www.{{ infourl }}">{{ infourl }}</a>
        </div>
      </div>
    </div>
    <!-- Page 4 end -->
    <!-- Page 5, bar charts for average -->
    {{#if showbarcharts}}
    <div id="page_5" class="page pagebreak">
      <div class="header">
        <div class="wrapper">
          <div class="logo"></div>
          <a class="url" href="https://www.{{ infourl }}">{{ infourl }}</a>
        </div>
      </div>
      <div class="text">
        <div class="head">
          <div class="icon average"></div>
          <div class="header">
            <span class="title h5">AVERAGE TEST SCORES</span>
            <span class="placename h6">{{location.name}}, {{location.state_name}}</span>
          </div>
        </div>
      </div>
      <div class="bars">
        <div class="demographic-parent">
          <span class="h7">By Demographic</span>
          <p class="body-smaller">The bars in the <strong>By Demographic</strong> section show Average Test Scores for various demographic groups in {{ location.name }}, {{location.state_name}}. The middle line in each bar represents the national average for all students; bars to the left of the line show scores below the national average, and bars to the right of the line show scores above the national average.</p>
          <table class="demographic">
            <tr>
              <td class="label">ALL STUDENTS</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{avg.all.bar.neg.hide}}">-{{avg.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{avg.all.bar.pos.hide}}">+{{avg.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{avg.all.num.neg}}</div>
                    <div class="bar" style="{{avg.all.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{avg.all.bar.pos.width}}"></div>
                    <div class="num">{{avg.all.num.pos}}</div>
                  </div>
                </div>
              </td>
              <td class="label">MALE</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{avg.m.bar.neg.hide}}">-{{avg.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{avg.m.bar.pos.hide}}">+{{avg.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{avg.m.num.neg}}</div>
                    <div class="bar" style="{{avg.m.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{avg.m.bar.pos.width}}"></div>
                    <div class="num">{{avg.m.num.pos}}</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="label">WHITE</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{avg.w.bar.neg.hide}}">-{{avg.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{avg.w.bar.pos.hide}}">+{{avg.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{avg.w.num.neg}}</div>
                    <div class="bar" style="{{avg.w.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{avg.w.bar.pos.width}}"></div>
                    <div class="num">{{avg.w.num.pos}}</div>
                  </div>
                </div>
              </td>
              <td class="label">FEMALE</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{avg.f.bar.neg.hide}}">-{{avg.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{avg.f.bar.pos.hide}}">+{{avg.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{avg.f.num.neg}}</div>
                    <div class="bar" style="{{avg.f.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{avg.f.bar.pos.width}}"></div>
                    <div class="num">{{avg.f.num.pos}}</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="label">BLACK</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{avg.b.bar.neg.hide}}">-{{avg.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{avg.b.bar.pos.hide}}">+{{avg.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{avg.b.num.neg}}</div>
                    <div class="bar" style="{{avg.b.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{avg.b.bar.pos.width}}"></div>
                    <div class="num">{{avg.b.num.pos}}</div>
                  </div>
                </div>
              </td>
              <td class="label">POOR</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{avg.p.bar.neg.hide}}">-{{avg.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{avg.p.bar.pos.hide}}">+{{avg.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{avg.p.num.neg}}</div>
                    <div class="bar" style="{{avg.p.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{avg.p.bar.pos.width}}"></div>
                    <div class="num">{{avg.p.num.pos}}</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="label">HISPANIC</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{avg.h.bar.neg.hide}}">-{{avg.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{avg.h.bar.pos.hide}}">+{{avg.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{avg.h.num.neg}}</div>
                    <div class="bar" style="{{avg.h.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{avg.h.bar.pos.width}}"></div>
                    <div class="num">{{avg.h.num.pos}}</div>
                  </div>
                </div>
              </td>
              <td class="label">NON-POOR</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{avg.np.bar.neg.hide}}">-{{avg.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{avg.np.bar.pos.hide}}">+{{avg.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{avg.np.num.neg}}</div>
                    <div class="bar" style="{{avg.np.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{avg.np.bar.pos.width}}"></div>
                    <div class="num">{{avg.np.num.pos}}</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="label">ASIAN</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{avg.a.bar.neg.hide}}">-{{avg.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{avg.a.bar.pos.hide}}">+{{avg.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{avg.a.num.neg}}</div>
                    <div class="bar" style="{{avg.a.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{avg.a.bar.pos.width}}"></div>
                    <div class="num">{{avg.a.num.pos}}</div>
                  </div>
                </div>
              </td>
              <td class="label"></td>
              <td class="bar-parent">
                  {{!-- <div class="underlay">
                    <div class="num neg">-4.56</div>
                    <div class="line neg"></div>
                    <div class="line pos"></div>
                    <div class="num pos">+4.56</div>
                  </div>
                  <div class="overlay">
                    <div class="neg">
                      <div class="num">-2.98</div>
                      <div class="bar"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="pos">
                      <div class="bar"></div>
                      <div class="num">+2.87</div>
                    </div>
                  </div> --}}
              </td>
            </tr>
          </table>
        </div>
        <div class="gaps-parent">
          <div class="gaps">
            <span class="h7">Gaps</span>
            <p class="body-smaller">The bars in the <strong>Gaps</strong> section show differences in Average Test Scores between demographic groups in {{ location.name }}, {{location.state_name}}. The middle line in each bar indicates no gap. Bars to the right of the line indicate that the scores of the first group listed are higher than those of the second group; bars to the left indicate the opposite.</p>
            <table class="gaps-table">
              <tr>
                <td class="label">WHITE /<br>BLACK</td>
                <td class="bar-parent">
                  <div class="underlay">
                    <div class="num neg" style="{{avg.wb.bar.neg.hide}}">-{{avg.gapminmax}}</div>
                    <div class="line neg"></div>
                    <div class="line pos"></div>
                    <div class="num pos" style="{{avg.wb.bar.pos.hide}}">+{{avg.gapminmax}}</div>
                  </div>
                  <div class="overlay">
                    <div class="neg">
                      <div class="num">{{avg.wb.num.neg}}</div>
                      <div class="bar" style="{{avg.wb.bar.neg.width}}"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="pos">
                      <div class="bar" style="{{avg.wb.bar.pos.width}}"></div>
                      <div class="num">{{avg.wb.num.pos}}</div>
                    </div>
                  </div>
                </td>
                <td class="label">WHITE /<br>ASIAN</td>
                <td class="bar-parent">
                  <div class="underlay">
                    <div class="num neg" style="{{avg.wa.bar.neg.hide}}">-{{avg.gapminmax}}</div>
                    <div class="line neg"></div>
                    <div class="line pos"></div>
                    <div class="num pos" style="{{avg.wa.bar.pos.hide}}">+{{avg.gapminmax}}</div>
                  </div>
                  <div class="overlay">
                    <div class="neg">
                      <div class="num">{{avg.wa.num.neg}}</div>
                      <div class="bar" style="{{avg.wa.bar.neg.width}}"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="pos">
                      <div class="bar" style="{{avg.wa.bar.pos.width}}"></div>
                      <div class="num">{{avg.wa.num.pos}}</div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="label">WHITE /<br>HISPANIC</td>
                <td class="bar-parent">
                  <div class="underlay">
                    <div class="num neg" style="{{avg.wh.bar.neg.hide}}">-{{avg.gapminmax}}</div>
                    <div class="line neg"></div>
                    <div class="line pos"></div>
                    <div class="num pos" style="{{avg.wh.bar.pos.hide}}">+{{avg.gapminmax}}</div>
                  </div>
                  <div class="overlay">
                    <div class="neg">
                      <div class="num">{{avg.wh.num.neg}}</div>
                      <div class="bar" style="{{avg.wh.bar.neg.width}}"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="pos">
                      <div class="bar" style="{{avg.wh.bar.pos.width}}"></div>
                      <div class="num">{{avg.wh.num.pos}}</div>
                    </div>
                  </div>
                </td>
                <td class="label">POOR /<br>NON-POOR</td>
                <td class="bar-parent">
                  <div class="underlay">
                    <div class="num neg" style="{{avg.pn.bar.neg.hide}}">-{{avg.gapminmax}}</div>
                    <div class="line neg"></div>
                    <div class="line pos"></div>
                    <div class="num pos" style="{{avg.pn.bar.pos.hide}}">+{{avg.gapminmax}}</div>
                  </div>
                  <div class="overlay">
                    <div class="neg">
                      <div class="num">{{avg.pn.num.neg}}</div>
                      <div class="bar" style="{{avg.pn.bar.neg.width}}"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="pos">
                      <div class="bar" style="{{avg.pn.bar.pos.width}}"></div>
                      <div class="num">{{avg.pn.num.pos}}</div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    <!-- Page 5 end -->
    <!-- Page 6, rates -->
    <div id="page_6" class="page pagebreak">
      <div class="chart average">
        <div class="background">
          <div class="dot" style="left:{{css.grd_left}};top:{{css.grd_top}};"></div>
        </div>
      </div>
      <div class="text">
        <div class="parent">
          <div class="head">
            <div class="icon growth"></div>
            <div class="header">
              <span class="title h5">LEARNING RATES</span>
              <span class="placename h6">{{location.name}}, {{location.state_name}}</span>
            </div>
          </div>
          <p class="body-smaller">{{ location.name }}, {{location.state_name}} provides {{ verbiage.grd_hrl }} average educational opportunities while children are in school. Students learn {{ verbiage.grd_pct }} the U.S. average.{{#if location.all_ses}} Socioeconomic status is {{ verbiage.ats_vfb }} the national average.{{/if}}{{#if location.all_frl}} {{location.all_frl}}% of students are eligible for the Federal Free & Reduced Price Lunch Program.{{/if}}{{#if location.diff_grd}} Learning rates are {{ verbiage.grd_diff_fixed }}% {{ verbiage.grd_diff_hl }} than {{verbiage.type_plural}} with similar socioeconomic status.{{/if}}</p>
          <p class="body-smaller">Learning rates measure how much student scores improve each year while they are in school. This is a better way to assess what children learn in schools than average test scores, which are heavily influenced by factors outside of school. To understand the distinction, think of a hospital: We wouldn’t assess a hospital based on the health of its patients; rather, we’d judge it on how much its patients’ health improves as a result of their time in the hospital. Similarly, we shouldn’t evaluate a school based on the average scores of its students, but rather by how much their test scores improve while in school.</p>
        </div>
      </div>
      <div class="footer">
        <div class="wrapper">
          <div class="logo"></div>
          <a class="url" href="https://www.{{ infourl }}">{{ infourl }}</a>
        </div>
      </div>
    </div>
    <!-- Page 6 end -->
    <!-- Page 7 -->
    {{#if showbarcharts}}
    <div id="page_7" class="page pagebreak">
      <div class="header">
        <div class="wrapper">
          <div class="logo"></div>
          <a class="url" href="https://www.{{ infourl }}">{{ infourl }}</a>
        </div>
      </div>
      <div class="text">
        <div class="head">
          <div class="icon growth"></div>
          <div class="header">
            <span class="title h5">Learning Rates Bar Charts</span>
            <span class="placename h6">{{location.name}}, {{location.state_name}}</span>
          </div>
        </div>
      </div>
      <div class="bars">
        <div class="demographic-parent">
          <span class="h7">By Demographic</span>
          <p class="body-smaller">The bars in the <strong>By Demographic</strong> section show Learning Rates for various demographic groups. The middle line in each bar represents the national average for all students; bars to the left of the line show scores below the national average, and bars to the right of the line show scores above the national average.</p>
          <table class="demographic">
            <tr>
              <td class="label">ALL STUDENTS</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{grd.all.bar.neg.hide}}">{{grd.min}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{grd.all.bar.pos.hide}}">+{{grd.max}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{grd.all.num.neg}}</div>
                    <div class="bar" style="{{grd.all.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{grd.all.bar.pos.width}}"></div>
                    <div class="num">{{grd.all.num.pos}}</div>
                  </div>
                </div>
              </td>
              <td class="label">MALE</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{grd.m.bar.neg.hide}}">{{grd.min}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{grd.m.bar.pos.hide}}">+{{grd.max}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{grd.m.num.neg}}</div>
                    <div class="bar" style="{{grd.m.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{grd.m.bar.pos.width}}"></div>
                    <div class="num">{{grd.m.num.pos}}</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="label">WHITE</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{grd.w.bar.neg.hide}}">{{grd.min}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{grd.w.bar.pos.hide}}">+{{grd.max}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{grd.w.num.neg}}</div>
                    <div class="bar" style="{{grd.w.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{grd.w.bar.pos.width}}"></div>
                    <div class="num">{{grd.w.num.pos}}</div>
                  </div>
                </div>
              </td>
              <td class="label">FEMALE</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{grd.f.bar.neg.hide}}">{{grd.min}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{grd.f.bar.pos.hide}}">+{{grd.max}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{grd.f.num.neg}}</div>
                    <div class="bar" style="{{grd.f.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{grd.f.bar.pos.width}}"></div>
                    <div class="num">{{grd.f.num.pos}}</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="label">BLACK</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{grd.b.bar.neg.hide}}">{{grd.min}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{coh.b.bar.pos.hide}}">+{{grd.max}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{grd.b.num.neg}}</div>
                    <div class="bar" style="{{grd.b.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{grd.b.bar.pos.width}}"></div>
                    <div class="num">{{grd.b.num.pos}}</div>
                  </div>
                </div>
              </td>
              <td class="label">POOR</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{grd.p.bar.neg.hide}}">{{grd.min}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{grd.p.bar.pos.hide}}">+{{grd.max}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{grd.p.num.neg}}</div>
                    <div class="bar" style="{{grd.p.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{grd.p.bar.pos.width}}"></div>
                    <div class="num">{{grd.p.num.pos}}</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="label">HISPANIC</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{grd.h.bar.neg.hide}}">{{grd.min}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{grd.h.bar.pos.hide}}">+{{grd.max}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{grd.h.num.neg}}</div>
                    <div class="bar" style="{{grd.h.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{grd.h.bar.pos.width}}"></div>
                    <div class="num">{{grd.h.num.pos}}</div>
                  </div>
                </div>
              </td>
              <td class="label">NON-POOR</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{grd.np.bar.neg.hide}}">{{grd.min}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{grd.np.bar.pos.hide}}">+{{grd.max}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{grd.np.num.neg}}</div>
                    <div class="bar" style="{{grd.np.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{grd.np.bar.pos.width}}"></div>
                    <div class="num">{{grd.np.num.pos}}</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="label">ASIAN</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{grd.a.bar.neg.hide}}">{{grd.min}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{grd.a.bar.pos.hide}}">+{{grd.max}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{grd.a.num.neg}}</div>
                    <div class="bar" style="{{grd.a.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{grd.a.bar.pos.width}}"></div>
                    <div class="num">{{grd.a.num.pos}}</div>
                  </div>
                </div>
              </td>
              <td class="label"></td>
              <td class="bar-parent">
                  {{!-- <div class="underlay">
                    <div class="num neg">-4.56</div>
                    <div class="line neg"></div>
                    <div class="line pos"></div>
                    <div class="num pos">+4.56</div>
                  </div>
                  <div class="overlay">
                    <div class="neg">
                      <div class="num">-2.98</div>
                      <div class="bar"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="pos">
                      <div class="bar"></div>
                      <div class="num">+2.87</div>
                    </div>
                  </div> --}}
              </td>
            </tr>
          </table>
        </div>
        <div class="gaps-parent">
          <div class="gaps">
            <span class="h7">Gaps</span>
            <p class="body-smaller">The bars in the <strong>Gaps</strong> section show differences in Learning Rates between demographic groups. The middle line in each bar indicates no gap. Bars to the right of the line indicate that the scores of the first group listed are higher than those of the second group; bars to the left indicate the opposite.</p>
            <table class="gaps-table">
              <tr>
                <td class="label">WHITE /<br>BLACK</td>
                <td class="bar-parent">
                  <div class="underlay">
                    <div class="num neg" style="{{grd.wb.bar.neg.hide}}">-{{grd.gapminmax}}</div>
                    <div class="line neg"></div>
                    <div class="line pos"></div>
                    <div class="num pos" style="{{grd.wb.bar.pos.hide}}">+{{grd.gapminmax}}</div>
                  </div>
                  <div class="overlay">
                    <div class="neg">
                      <div class="num">{{grd.wb.num.neg}}</div>
                      <div class="bar" style="{{grd.wb.bar.neg.width}}"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="pos">
                      <div class="bar" style="{{grd.wb.bar.pos.width}}"></div>
                      <div class="num">{{grd.wb.num.pos}}</div>
                    </div>
                  </div>
                </td>
                <td class="label">WHITE /<br>ASIAN</td>
                <td class="bar-parent">
                  <div class="underlay">
                    <div class="num neg" style="{{grd.wa.bar.neg.hide}}">-{{grd.gapminmax}}</div>
                    <div class="line neg"></div>
                    <div class="line pos"></div>
                    <div class="num pos" style="{{grd.wa.bar.pos.hide}}">+{{grd.gapminmax}}</div>
                  </div>
                  <div class="overlay">
                    <div class="neg">
                      <div class="num">{{grd.wa.num.neg}}</div>
                      <div class="bar" style="{{grd.wa.bar.neg.width}}"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="pos">
                      <div class="bar" style="{{grd.wa.bar.pos.width}}"></div>
                      <div class="num">{{grd.wa.num.pos}}</div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="label">WHITE /<br>HISPANIC</td>
                <td class="bar-parent">
                  <div class="underlay">
                    <div class="num neg" style="{{grd.wh.bar.neg.hide}}">-{{grd.gapminmax}}</div>
                    <div class="line neg"></div>
                    <div class="line pos"></div>
                    <div class="num pos" style="{{grd.wh.bar.pos.hide}}">+{{grd.gapminmax}}</div>
                  </div>
                  <div class="overlay">
                    <div class="neg">
                      <div class="num">{{grd.wh.num.neg}}</div>
                      <div class="bar" style="{{grd.wh.bar.neg.width}}"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="pos">
                      <div class="bar" style="{{grd.wh.bar.pos.width}}"></div>
                      <div class="num">{{grd.wh.num.pos}}</div>
                    </div>
                  </div>
                </td>
                <td class="label">POOR /<br>NON-POOR</td>
                <td class="bar-parent">
                  <div class="underlay">
                    <div class="num neg" style="{{grd.pn.bar.neg.hide}}">-{{grd.gapminmax}}</div>
                    <div class="line neg"></div>
                    <div class="line pos"></div>
                    <div class="num pos" style="{{grd.pn.bar.pos.hide}}">+{{grd.gapminmax}}</div>
                  </div>
                  <div class="overlay">
                    <div class="neg">
                      <div class="num">{{grd.pn.num.neg}}</div>
                      <div class="bar" style="{{grd.pn.bar.neg.width}}"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="pos">
                      <div class="bar" style="{{grd.pn.bar.pos.width}}"></div>
                      <div class="num">{{grd.pn.num.pos}}</div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    <!-- Page 7 end -->
    <!-- Page 8, trends -->
    <div id="page_8" class="page pagebreak">
      <div class="chart average">
        <div class="background">
          <div class="dot" style="left:{{css.coh_left}};top:{{css.coh_top}};"></div>
        </div>
      </div>
      <div class="text">
        <div class="parent">
          <div class="head">
            <div class="icon changes"></div>
            <div class="header">
              <span class="title h5">TREND IN TEST SCORES</span>
              <span class="placename h6">{{location.name}}, {{location.state_name}}</span>
            </div>
          </div>
          <p class="body-smaller">{{ location.name }}, {{location.state_name}} shows {{verbiage.coh_dri}} educational opportunity. Test scores {{verbiage.coh_id}} an average of {{verbiage.coh_grd}} grade levels each year from 2009-2016.{{#if location.all_ses}} Socioeconomic status is {{ verbiage.ats_vfb }} the national average.{{/if}}{{#if location.all_frl}} {{location.all_frl}}% of students are eligible for the Federal Free & Reduced Price Lunch Program.{{/if}}{{#if location.diff_coh}} Average scores have {{verbiage.coh_diff_id}} by {{verbiage.coh_diff_fixed}} grade levels {{verbiage.coh_diff_ml}} than {{verbiage.type_plural}} with similar socioeconomic status.{{/if}}</p>
          <p class="body-smaller">Average student test scores are influenced by children’s home environments, early childhood experiences, community resources, and schools. The trend (or change) in average student test scores from one year to the next indicates whether educational opportunities are improving or declining in a community. Where the trend is positive, students’ opportunities to learn are improving. Opportunities may improve over time because of changes in school quality or because of changes in children’s family resources, home environments, early childhood experiences, and community resources.</p>
        </div>
      </div>
      <div class="footer">
        <div class="wrapper">
          <div class="logo"></div>
          <a class="url" href="https://www.{{ infourl }}">{{ infourl }}</a>
        </div>
      </div>
    </div>
    <!-- Page 8 end -->
    <!-- Page 9 -->
    {{#if showbarcharts}}
    <div id="page_9" class="page pagebreak">
      <div class="header">
        <div class="wrapper">
          <div class="logo"></div>
          <a class="url" href="https://www.{{ infourl }}">{{ infourl }}</a>
        </div>
      </div>
      <div class="text">
        <div class="head">
          <div class="icon changes"></div>
          <div class="header">
            <span class="title h5">Trend in Test Scores Bar Charts</span>
            <span class="placename h6">{{location.name}}, {{location.state_name}}</span>
          </div>
        </div>
      </div>
      <div class="bars">
        <div class="demographic-parent">
          <span class="h7">By Demographic</span>
          <p class="body-smaller">The bars in the <strong>By Demographic</strong> section show Trends in Test Scores for various demographic groups. The middle line in each bar represents the national average for all students; bars to the left of the line show scores below the national average, and bars to the right of the line show scores above the national average.</p>
          <table class="demographic">
            <tr>
              <td class="label">ALL STUDENTS</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{coh.all.bar.neg.hide}}">-{{coh.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{coh.all.bar.pos.hide}}">+{{coh.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{coh.all.num.neg}}</div>
                    <div class="bar" style="{{coh.all.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{coh.all.bar.pos.width}}"></div>
                    <div class="num">{{coh.all.num.pos}}</div>
                  </div>
                </div>
              </td>
              <td class="label">MALE</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{coh.m.bar.neg.hide}}">-{{coh.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{coh.m.bar.pos.hide}}">+{{coh.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{coh.m.num.neg}}</div>
                    <div class="bar" style="{{coh.m.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{coh.m.bar.pos.width}}"></div>
                    <div class="num">{{coh.m.num.pos}}</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="label">WHITE</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{coh.w.bar.neg.hide}}">-{{coh.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{coh.w.bar.pos.hide}}">+{{coh.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{coh.w.num.neg}}</div>
                    <div class="bar" style="{{coh.w.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{coh.w.bar.pos.width}}"></div>
                    <div class="num">{{coh.w.num.pos}}</div>
                  </div>
                </div>
              </td>
              <td class="label">FEMALE</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{coh.f.bar.neg.hide}}">-{{coh.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{coh.f.bar.pos.hide}}">+{{coh.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{coh.f.num.neg}}</div>
                    <div class="bar" style="{{coh.f.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{coh.f.bar.pos.width}}"></div>
                    <div class="num">{{coh.f.num.pos}}</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="label">BLACK</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{coh.b.bar.neg.hide}}">-{{coh.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{coh.b.bar.pos.hide}}">+{{coh.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{coh.b.num.neg}}</div>
                    <div class="bar" style="{{coh.b.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{coh.b.bar.pos.width}}"></div>
                    <div class="num">{{coh.b.num.pos}}</div>
                  </div>
                </div>
              </td>
              <td class="label">POOR</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{coh.p.bar.neg.hide}}">-{{coh.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{coh.p.bar.pos.hide}}">+{{coh.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{coh.p.num.neg}}</div>
                    <div class="bar" style="{{coh.p.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{coh.p.bar.pos.width}}"></div>
                    <div class="num">{{coh.p.num.pos}}</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="label">HISPANIC</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{coh.h.bar.neg.hide}}">-{{coh.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{coh.h.bar.pos.hide}}">+{{coh.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{coh.h.num.neg}}</div>
                    <div class="bar" style="{{coh.h.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{coh.h.bar.pos.width}}"></div>
                    <div class="num">{{coh.h.num.pos}}</div>
                  </div>
                </div>
              </td>
              <td class="label">NON-POOR</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{coh.np.bar.neg.hide}}">-{{coh.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{coh.np.bar.pos.hide}}">+{{coh.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{coh.np.num.neg}}</div>
                    <div class="bar" style="{{coh.np.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{coh.np.bar.pos.width}}"></div>
                    <div class="num">{{coh.np.num.pos}}</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="label">ASIAN</td>
              <td class="bar-parent">
                <div class="underlay">
                  <div class="num neg" style="{{coh.a.bar.neg.hide}}">-{{coh.minmax}}</div>
                  <div class="line neg"></div>
                  <div class="line pos"></div>
                  <div class="num pos" style="{{coh.a.bar.pos.hide}}">+{{coh.minmax}}</div>
                </div>
                <div class="overlay">
                  <div class="neg">
                    <div class="num">{{coh.a.num.neg}}</div>
                    <div class="bar" style="{{coh.a.bar.neg.width}}"></div>
                  </div>
                  <div class="divider"></div>
                  <div class="pos">
                    <div class="bar" style="{{coh.a.bar.pos.width}}"></div>
                    <div class="num">{{coh.a.num.pos}}</div>
                  </div>
                </div>
              </td>
              <td class="label"></td>
              <td class="bar-parent">
                  {{!-- <div class="underlay">
                    <div class="num neg">-4.56</div>
                    <div class="line neg"></div>
                    <div class="line pos"></div>
                    <div class="num pos">+4.56</div>
                  </div>
                  <div class="overlay">
                    <div class="neg">
                      <div class="num">-2.98</div>
                      <div class="bar"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="pos">
                      <div class="bar"></div>
                      <div class="num">+2.87</div>
                    </div>
                  </div> --}}
              </td>
            </tr>
          </table>
        </div>
        <div class="gaps-parent">
          <div class="gaps">
            <span class="h7">Gaps</span>
            <p class="body-smaller">The bars in the <strong>Gaps</strong> section show differences in Test Score Trends between demographic groups in [location]. The middle line in each bar indicates no gap. Bars to the right of the line indicate that the scores of the first group listed are higher than those of the second group; bars to the left indicate the opposite.</p>
            <table class="gaps-table">
              <tr>
                <td class="label">WHITE /<br>BLACK</td>
                <td class="bar-parent">
                  <div class="underlay">
                    <div class="num neg" style="{{coh.wb.bar.neg.hide}}">-{{coh.gapminmax}}</div>
                    <div class="line neg"></div>
                    <div class="line pos"></div>
                    <div class="num pos" style="{{coh.wb.bar.pos.hide}}">+{{coh.gapminmax}}</div>
                  </div>
                  <div class="overlay">
                    <div class="neg">
                      <div class="num">{{coh.wb.num.neg}}</div>
                      <div class="bar" style="{{coh.wb.bar.neg.width}}"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="pos">
                      <div class="bar" style="{{coh.wb.bar.pos.width}}"></div>
                      <div class="num">{{coh.wb.num.pos}}</div>
                    </div>
                  </div>
                </td>
                <td class="label">WHITE /<br>ASIAN</td>
                <td class="bar-parent">
                  <div class="underlay">
                    <div class="num neg" style="{{coh.wa.bar.neg.hide}}">-{{coh.gapminmax}}</div>
                    <div class="line neg"></div>
                    <div class="line pos"></div>
                    <div class="num pos" style="{{coh.wa.bar.pos.hide}}">+{{coh.gapminmax}}</div>
                  </div>
                  <div class="overlay">
                    <div class="neg">
                      <div class="num">{{coh.wa.num.neg}}</div>
                      <div class="bar" style="{{coh.wa.bar.neg.width}}"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="pos">
                      <div class="bar" style="{{coh.wa.bar.pos.width}}"></div>
                      <div class="num">{{coh.wa.num.pos}}</div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="label">WHITE /<br>HISPANIC</td>
                <td class="bar-parent">
                  <div class="underlay">
                    <div class="num neg" style="{{coh.wh.bar.neg.hide}}">-{{coh.gapminmax}}</div>
                    <div class="line neg"></div>
                    <div class="line pos"></div>
                    <div class="num pos" style="{{coh.wh.bar.pos.hide}}">+{{coh.gapminmax}}</div>
                  </div>
                  <div class="overlay">
                    <div class="neg">
                      <div class="num">{{coh.wh.num.neg}}</div>
                      <div class="bar" style="{{coh.wh.bar.neg.width}}"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="pos">
                      <div class="bar" style="{{coh.wh.bar.pos.width}}"></div>
                      <div class="num">{{coh.wh.num.pos}}</div>
                    </div>
                  </div>
                </td>
                <td class="label">POOR /<br>NON-POOR</td>
                <td class="bar-parent">
                  <div class="underlay">
                    <div class="num neg" style="{{coh.pn.bar.neg.hide}}">-{{coh.gapminmax}}</div>
                    <div class="line neg"></div>
                    <div class="line pos"></div>
                    <div class="num pos" style="{{coh.pn.bar.pos.hide}}">+{{coh.gapminmax}}</div>
                  </div>
                  <div class="overlay">
                    <div class="neg">
                      <div class="num">{{coh.pn.num.neg}}</div>
                      <div class="bar" style="{{coh.pn.bar.neg.width}}"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="pos">
                      <div class="bar" style="{{coh.pn.bar.pos.width}}"></div>
                      <div class="num">{{coh.pn.num.pos}}</div>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    <!-- Page 9 end -->
    <!-- page 10 -->
    <div id="page_10" class="page pagebreak">
      <div class="header">
        <div class="wrapper">
          <div class="logo"></div>
          <a class="url" href="https://www.{{ infourl }}">{{ infourl }}</a>
        </div>
      </div>
      <div class="parent">
        <span class="h2">Learn more</span>
        <p>View more information about {{ location.name }} and to see how it compares to the rest of the country.</p>
        <a class="button" href="{{ url }}">GO TO THE SITE</a>
      </div>
    </div>
    <!-- page 10 end -->
  </body>
</html>
