<html>
  <head>
    <style>
      {{> styles }}
    </style>
  </head>
  <body>
    <span class="h1">This is a test heading h1</span>
    <span class="h2">This is a test h2</span>
    <span class="front" style="">This is a test h2 front class</span>
    <span class="h3">This is a test h3</span>
    <span class="h4">This is a test h4</span>
    <span class="h5">This is a test h5</span>
    <span class="h6">This is a test h6</span>
    <span class="h7">This is a test h7</span>
    <span class="h8">This is a test h8</span>
    <p>Paragraph testing <span class="url">testing url</span>. This body is an <a>anchor tag</a>.</p>
    <p class="body-front">{{ location.name }} body</p>
    <p>Paragraph testing testing. body body</p>
    <p class="body-smaller">Paragraph testing testing. body</p>
    <p class="body-smallest">Paragraph testing testing. body</p>
    <div class="pagebreak"></div>
    <!-- page 1 -->
    <div id="page_1" class="page pagebreak">
      <div class="front-top"></div>
      <div class="front-bottom">
        <div class="square-logo logo-sm"></div>
        <span class="h1 title">Exploring Educational Opportunity<br>in {{ location.name }}</span>
        <hr class="short-hr"></hr>
        <span class="about body-front">A report created by the Educational Opportunity Project<br>at Stanford University</span>
        <span class="date another-url-class-not-in-style-guide">Generated on {{ today }}</span>
        <span class="infolink another-url-class-not-in-style-guide">FOR MORE INFORMATION, PLEASE VISIT <a class="another-url-class-not-in-style-guide" href="https://www.{{ infourl }}">{{ infourl }}</a></span>
      </div>
    </div>
    <!-- end page 1 -->
    <!-- page 2 -->
    <div id="page_2" class="page pagebreak">
      <div class="header">
        <div class="wrapper">
          <div class="logo"></div>
          <a class="url" href="https://www.{{ infourl }}">{{ infourl }}</a>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="content">
          <span class="h2">About the Data</span>
          <p>The Educational Opportunity Project has derived these data and visualizations from the Stanford Education Data Archive (SEDA), which is the first national database of academic performance in the U.S.</p><p>The SEDA data are based on the standardized accountability tests in math and English Language Arts (ELA) administered annually by each state to all public school students in grades 3-8 in each school year from 2008-09 through 2015-16. In these years, third- through eighth-graders in U.S. public schools took roughly 350 million standardized math and ELA tests.</p><p>The Educational Opportunity Project harnesses these and other data to help scholars, policymakers, educators, and parents learn how to improve educational opportunity for all children.</p>
        </div>
      </div>
    </div>
    <!-- end page 2 -->
    <!-- page 3 -->
    <div id="page_3" class="page pagebreak">
      <div class="header">
        <div class="wrapper">
          <div class="logo"></div>
          <a class="url" href="https://www.{{ infourl }}">{{ infourl }}</a>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="content">
          <span class="h2">Test scores reveal three aspects of educational opportunity in America:</span>
          <!-- average -->
          <div class="box">
            <div class="head">
              <div class="icon average"></div>
              <span class="title h3">AVERAGE TEST SCORES</span>
            </div>
            <div class="base">
              <span class="h4">The educational opportunities available in a community, both in and out of school, are reflected in children's average test scores.</span>
              <p class="body-smallest">Average test scores are influenced by children's opportunities to learn at home, in their neighborhoods, in childcare, preschool, and after-school programs, from peers and friends, and at school. Average test scores therefore reflect the total set of educational opportunities available in a community.</p>
            </div>
          </div>
          <!-- average end -->
          <!-- growth -->
          <div class="box">
            <div class="head">
              <div class="icon growth"></div>
              <div class="title h3">LEARNING RATES</div>
            </div>
            <div class="base">
              <span class="h4">The contribution of schools to educational opportunity is reflected in the growth of test scores while children attend school.</span>
              <p class="body-smallest">Learning rates measure how much student scores improve each year while they are in school. They are a better indicator of school quality than average test scores, which are influenced by a range of experiences outside of school.</p>
            </div>
          </div>
          <!-- growth end -->
          <!-- changes -->
          <div class="box">
            <div class="head">
              <div class="icon changes"></div>
              <div class="title h3">TREND IN TEST SCORES</div>
            </div>
            <div class="base">
              <span class="h4">The change in a community’s educational opportunities, both in and out of school, is reflected in average test score gains or losses.</span>
              <p class="body-smallest">Trends in test scores reflect both changes in school quality and changes in other family and community features that provide opportunities for children.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end page 3 -->
    <!-- page 10 -->
    <div id="page_10" class="page pagebreak">
      <div class="header">
        <div class="wrapper">
          <div class="logo"></div>
          <a class="url" href="https://www.{{ infourl }}">{{ infourl }}</a>
        </div>
      </div>
      <div class="parent">
        <span class="h2">Learn more</span>
        <p>View more information about {{ location.name }} and to see how it compares to the rest of the country.</p>
        <a class="button" href="https://{{ infourl }}">GO TO THE SITE</a>
      </div>
    </div>
    <!-- page 10 end -->
  </body>
</html>
